<html>
  <head>
    <title>Dojo Survey</title>
    <style type="text/css">
      body {
        text-align: center;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <form action="/process" method="POST">
      <table>
        <tr>
          <td><p>Your Name:</p></td>
          <td><input type="text" name="name">
        </tr>
        <tr>
          <td><p>Dojo Location:</p></td>
          <td>
            <select name="location">
              <option value="San Jose">San Jose</option>
              <option value="Seattle">Seattle</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><p>Favorite Language:</p></td>
          <td>
            <select name="language">
              <option value="Python">Python</option>
              <option value="JavaScript">JavaScript</option>
              <option value="Ruby">Ruby</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p>Comment (optional):</p>
            <textarea name="comment"></textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align: center;">
            <button type="submit">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
