<html>
  <head>
    <title>Dojo Survey</title>
    <style type="text/css">
      body {
        text-align: center;
        margin-top: 100px;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td colspan="2">
          <p><u><b>Submitted Info</b></u></p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Name:</p>
        </td>
        <td>
          <p>{{name}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dojo Location:</p>
        </td>
        <td>
          <p>{{location}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Favorite Language:</p>
        </td>
        <td>
          <p>{{language}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Comment:</p>
        </td>
        <td>
          <p>{{comment}}</p>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: right;">
          <a href="/">
            <button>Go Back</button>
          </a>
        </td>
      </tr>
    </table>
  </body>
</html>
